/* Maybe colors

#acb7ae
#e1e8f0
#f9f8fd
#313d4b

*/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #f9f8fd;
  min-height: 100vh;
}

.header {
  height: 4rem;
  background-color: #f9f8fd;
}

.logo {
  height: 3rem;
}

.big-screen {
  height: 50rem;
  background-color: #acb7ae;
}

.little-screen {
  height: 25rem;
  background-color: #f9f8fd;
}

.container {
  margin: 0 8rem 8rem 8rem;
  max-width: 150rem;
}

.navigation {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  width: 5rem;
  height: 5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation_button {
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navigation_button_figure {
  position: relative;
  width: 100%;
  height: 0.3rem;
  background: #313d4b;
  z-index: 5;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navigation_button_figure::before, .navigation_button_figure::after {
  content: '';
  position: absolute;
  top: -1rem;
  width: 100%;
  height: 0.3rem;
  background: #313d4b;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navigation_button_figure::after {
  top: 1rem;
}

.navigation_checkbox {
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
}

.navigation_checkbox:hover + .navigation_button {
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.navigation_checkbox:checked + .navigation_button {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation_checkbox:checked + .navigation_button_figure::before, .navigation_checkbox:checked + .navigation_button_figure::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navigation_checkbox:checked + .navigation_button + .navigation_nav {
  opacity: 1;
  width: 100vw;
  height: 100vh;
}

.navigation_item {
  color: #f9f8fd;
  font-size: 2rem;
  list-style-type: none;
  text-align: center;
  margin: 0;
  cursor: pointer;
  -webkit-box-sizing: 1.5rem;
          box-sizing: 1.5rem;
  border-bottom: 0.2rem solid transparent;
}

.navigation_item:hover {
  color: green;
  border-bottom: 0.2rem solid yellow;
}

.navigation_nav {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  background: rgba(25, 25, 25, 0.85);
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */