/* Maybe colors

#acb7ae
#e1e8f0
#f9f8fd
#313d4b

*/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #f9f8fd;
  min-height: 100vh;
}

.latest_article_topic {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: 4rem;
  padding-left: .5rem;
}

.latest_article_headline {
  font-size: 6rem;
  line-height: 7rem;
  padding-top: 1rem;
}

.latest_article_description {
  font-size: 1.5rem;
  color: #3e3e3e;
  padding-top: 3rem;
  padding-left: .5rem;
}

.little-screen_article_topic {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-left: .5rem;
}

.little-screen_article_headline {
  font-size: 6rem;
  line-height: 6rem;
  padding-top: 1rem;
}

.little-screen_article_description {
  font-size: 1.5rem;
  color: #3e3e3e;
  padding-top: 3rem;
  padding-left: .5rem;
}

.medium-screen_article_topic {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-left: .5rem;
}

.medium-screen_article_headline {
  font-size: 6rem;
  line-height: 6rem;
  padding-top: 1rem;
}

.medium-screen_article_description {
  font-size: 1.5rem;
  color: #3e3e3e;
  padding-top: 3rem;
  padding-left: .5rem;
}

.little-screen-topic_article_topic {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-left: .5rem;
}

.little-screen-topic_article_headline {
  font-size: 6rem;
  line-height: 6rem;
  padding-top: 1rem;
}

.little-screen-topic_article_description {
  font-size: 1.5rem;
  color: #3e3e3e;
  padding-top: 3rem;
  padding-left: .5rem;
}

.header {
  height: 6rem;
  background-color: #f9f8fd;
  max-width: 150rem;
  width: 100%;
  top: 0px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
}

.logo {
  height: 4rem;
}

.content {
  max-width: 150rem;
  width: 100%;
  margin: auto;
  margin-top: 7.5rem;
  margin-bottom: 2rem;
}

.medium-screen {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
          flex: 0 0 66%;
  background: rgba(49, 61, 75, 0.03);
  color: #3e3e3e;
  -webkit-transition: 0.4s ease-in-out 0.1s;
  transition: 0.4s ease-in-out 0.1s;
  margin-top: 3rem;
}

.medium-screen_media_image {
  width: 100%;
  display: block;
  -webkit-transition: 0.4s ease-in-out 0.1s;
  transition: 0.4s ease-in-out 0.1s;
}

.medium-screen:hover {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
  color: #222222;
}

.little-screen {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  background: rgba(49, 61, 75, 0.03);
  color: #3e3e3e;
  -webkit-transition: 0.4s ease-in-out 0.1s;
  transition: 0.4s ease-in-out 0.1s;
  margin-top: 3rem;
  min-height: 10rem;
}

.little-screen_media_image {
  width: 100%;
  display: block;
}

.little-screen:hover {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
  color: #222222;
}

.little-screen-topic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  background: rgba(49, 61, 75, 0.03);
  color: #3e3e3e;
  -webkit-transition: 0.4s ease-in-out 0.1s;
  transition: 0.4s ease-in-out 0.1s;
  margin-bottom: 3rem;
  min-height: 10rem;
}

.little-screen-topic_media_image {
  width: 100%;
  display: block;
}

.little-screen-topic:hover {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
  color: #222222;
}

.container {
  max-width: 150rem;
  margin: auto;
  padding: 0 2rem;
  min-height: 50rem;
}

.navigation {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.toggle {
  position: absolute;
  width: 4rem;
  height: 5rem;
  cursor: pointer;
  opacity: 0;
  z-index: 999;
}

.toggle:checked + .button {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.toggle:checked + .button .bars {
  background-color: #f9f8fd;
  height: 4px;
}

.toggle:checked + .button .bars::before,
.toggle:checked + .button .bars::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 4px;
  background-color: #f9f8fd;
}

.toggle:checked + .button + .nav {
  opacity: 1;
  width: 100vw;
  height: 100vh;
}

.button {
  position: absolute;
  width: 4rem;
  height: 5rem;
  z-index: 998;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bars {
  position: relative;
  width: 100%;
  height: 0.2rem;
  background-color: #3e3e3e;
  z-index: 5000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.bars::before,
.bars::after {
  content: '';
  position: absolute;
  top: -0.6rem;
  width: 100%;
  height: 0.2rem;
  background-color: #3e3e3e;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.bars::after {
  top: 0.6rem;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  background: rgba(49, 61, 75, 0.99);
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav_content {
  position: relative;
  top: 5%;
  left: 8%;
}

.nav_item {
  font-size: 4rem;
  color: #f9f8fd;
  list-style: none;
}

.nav_link {
  text-decoration: none;
  color: #f9f8fd;
  text-transform: uppercase;
}

.headline {
  max-width: 150rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  background: rgba(49, 61, 75, 0.03);
  color: #3e3e3e;
  overflow: hidden;
  -webkit-transition: 0.4s ease-in-out 0.1s;
  transition: 0.4s ease-in-out 0.1s;
}

.headline:hover {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
  color: #222222;
}

.articles {
  max-width: 150rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  padding-right: 2rem;
  padding-left: 0.5rem;
  text-align: left;
}

.latest_image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 68%;
          flex: 0 0 68%;
}

.latest_image_display {
  width: 100%;
  display: block;
}

.footer {
  width: 100%;
  background: rgba(49, 61, 75, 0.99);
  overflow: hidden;
  min-height: 10rem;
}

.footer_content {
  max-width: 150rem;
  width: 100%;
  margin: auto;
  padding-top: 10rem;
  padding-bottom: 10rem;
  color: #f9f8fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_about {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  padding-left: 1rem;
}

.footer_links {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
}

.footer_social {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
}
/*# sourceMappingURL=style.css.map */