.header {
    height: 6rem;
    background-color: $color-primary;
    max-width: 180rem;
    width: 100%;
    top:0px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height:4rem;
}

