.headline {
    max-width: 150rem;
    width: 100%;
    display: flex;
    margin: auto;
    background: $color-primary-fade;
    color: $color-font;
    overflow: hidden;
    transition: $hover-image;

}

.headline:hover {
    filter: $filter-hover-image;
    color: $color-font-hover;
}