.header {
    height: 6rem;
    background-color: $color-primary;
    max-width: 150rem;
    width: 100%;
    top:0px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.logo {
    height:4rem;
}

