.little-screen {
    flex: 0 0 32%;
    background: $color-primary-fade;
    transition: $hover-image;
    margin-top: 3rem;

    min-height: 10rem;

    &_media {
        &_image {
            width: 100%;
            display: block;
            

        }    
    }
}

.little-screen:hover {
    filter: $filter-hover-image;


}

