.little-screen {
    flex: 0 0 32%;
    background: $color-primary-fade;
    margin-top: 3rem;

    min-height: 10rem;

    &_media {
        &_image {
            width: 100%;
            display: block;
            transition: .4s ease-in-out .25s;
            

        }

        &_image:hover {
            filter: brightness(80%);
        }
    
    }
    

}

