.little-screen {
    flex: 0 0 32%;
    background: $color-primary-fade;
    margin-top: 3rem;

    min-height: 10rem;

    &_little-screen_image {
        width: 100%;
        display: block;
    }

}