.medium-screen {
    flex: 0 0 66%;
    background: $color-primary-fade;
    color: $color-font;
    transition: $hover-image;
    margin-top: 3rem;

    &_media {
        &_image {
            width: 100%;
            display: block;
            transition: $hover-image;
            

        }
    }
}

.medium-screen:hover {
    filter: $filter-hover-image;
    color: $color-font-hover;
}