.navigation {
    width: 5rem;
    height: 5rem;
    box-sizing: border-box;
}

.toggle {
    position: absolute;
    width: 4rem;
    height: 5rem;
    cursor: pointer;
    opacity: 0;
    z-index: 999;
}

.toggle:checked + .button {
    transform: rotate(45deg);
}

.toggle:checked + .button .bars {
    background-color: $color-primary;
    height: 5px;
}

.toggle:checked + .button .bars::before,
.toggle:checked + .button .bars::after {
    top:0;
    transform: rotate(90deg);
    height: 5px;
    background-color: $color-primary;
}

.toggle:checked + .button + .nav {
    opacity: 1;
    width: 100vw;
    height: 100vh;
}

.button {
    position: absolute;
    width: 4rem;
    height: 5rem;
    z-index: 998;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 1rem;
    transition: all 0.3s ease;
}

.bars {
    position: relative;
    width: 100%;
    height: 0.1rem;
    background-color: $color-header;
    z-index: 5;
    transition: all 0.2s linear;
}

.bars::before,
.bars::after {
    content: '';
    position: absolute;
    top: -0.6rem;
    width: 100%;
    height: 0.05rem;
    background: $color-header;
    transition: all 0.2s linear;

}

.bars::after {
    top: 0.6rem;
}

.nav {
    position: fixed;
    top: 0;
    right: 0;

    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    background: $color-header;
    z-index: 1;
    transition: all 0.3s ease;
}

.nav_content {
    display: flex;
}

.nav_list {
    list-style: none;
    margin-right: auto;
}