.navigation {
    width: 5rem;
    height: 5rem;
    margin-right: $margin-home;
    box-sizing: border-box;
}

.toggle {
    position: absolute;
    width: 4rem;
    height: 5rem;
    cursor: pointer;
    opacity: 0;
    z-index: 999;
}

.toggle:checked + .button {
    transform: rotate(45deg);
}

.toggle:checked + .button .bars {
    background-color: $color-primary;
    height: 4px;
}

.toggle:checked + .button .bars::before,
.toggle:checked + .button .bars::after {
    top:0;
    transform: rotate(90deg);
    height: 4px;
    background-color: $color-primary;
}

.toggle:checked + .button + .nav {
    opacity: 1;
    width: 100vw;
    height: 100vh;
}

.button {
    position: absolute;
    width: 4rem;
    height: 5rem;
    z-index: 998;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 1rem;
    transition: all 0.3s ease;
}

.bars {
    position: relative;
    width: 100%;
    height: 0.2rem;
    background-color: $color-font;
    z-index: 5000;
    transition: all 0.2s linear;
}

.bars::before,
.bars::after {
    content: '';
    position: absolute;
    top: -0.6rem;
    width: 100%;
    height: 0.2rem;
    background-color: $color-font;
    transition: all 0.2s linear;

}

.bars::after {
    top: 0.6rem;
}

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;

    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    background: $color-header-fade;
    transition: all 0.3s ease;
}

.nav-content_outline {
    width: 100%;
    overflow: hidden;
}

.nav_content {
    max-width: 150rem;
    width: 100%;
    margin: auto;
    padding: 0 2rem;
    padding-bottom: 30rem;
}

.nav_list {
}

.nav_item {
    font-size: 4rem;
    color: $color-primary;
    list-style: none;
}

.nav_link {
    text-decoration: none;
    color: $color-primary;
    text-transform: uppercase;
}

//Footer

.navigation_footer {
    width: 100%;
    overflow: hidden;
    margin-top: 3rem;

    min-height: 10rem;

    &_content {
        max-width: 150rem;
        width: 100%;
        margin: auto;
        padding: 5.5rem 2rem 8rem 2rem;
        color: $color-primary;
        display: flex;
        justify-content: space-between;
    }

    &_about {
        flex: 0 0 30%;
        padding-left: 1rem;

        &_header {
            
        }

        &_content {
            padding-top: $padding-footer;
        }
    }

    &_nav {
        flex: 0 0 38%;
        justify-content: space-between;

        &_header {

        }

        &_columns {
            display: flex;
            justify-content: space-between;

            &_left {
                padding-top: $padding-footer;
                

            }
    
            &_right {
                padding-top: $padding-footer;
    
            }

        }

        &_list {
            list-style: none;
        }



    }

    &_social {
        flex: 0 0 22%;

        &_content {
            padding-top: $padding-footer;
            display: flex;

        }

    }
}