.navigation {

    &_background {

    }  

    &_button {
        background-color: $color-header;
        height: 3rem;
        width: 3rem;

    }  

    &_checkbox {
        display: none;

    }

    &_item {

    }

    &_link {

    }

    &_list{

    }    

    &_nav {

    }
}