//Colors

$color-primary: #f9f8fd;
$color-primary-fade: rgba(49, 61, 75, 0.03);
$color-background: #acb7ae;
$color-header: #313d4b;
$color-header-fade: rgba(49, 61, 75, 0.99);
$color-font: #3e3e3e;

//Margins
$margin-home: 2rem;

//Transitions
$hover-image: .4s ease-in-out .1s;

//Filters

$filter-hover-image: brightness(85%);

/* Maybe colors

#acb7ae
#e1e8f0
#f9f8fd
#313d4b

*/