//Colors

$color-primary: #f9f8fd;
$color-primary-fade: rgba(49, 61, 75, 0.03);
$color-background: #acb7ae;
$color-header: #313d4b;
$color-header-fade: rgba(49, 61, 75, 0.95);

//Margins
$margin-home: 2rem;

/* Maybe colors

#acb7ae
#e1e8f0
#f9f8fd
#313d4b

*/