//HOME PAGE

.latest_article_topic {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-top: 4rem;
    padding-left: .5rem;
}

.latest_article_headline {
    font-size: 6rem;
    line-height: 7rem;
    padding-top: 1rem;
}

.latest_article_description {
    font-size: 1.5rem;
    color: $color-font;
    padding-top: 3rem;
    padding-left: .5rem;

}
.little-screen_article_topic {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-left: .5rem;
}

.little-screen_article_headline {
    font-size: 6rem;
    line-height: 6rem;
    padding-top: 1rem;
}

.little-screen_article_description {
    font-size: 1.5rem;
    color: $color-font;
    padding-top: 3rem;
    padding-left: .5rem;

}

.medium-screen_article_topic {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-left: .5rem;
}

.medium-screen_article_headline {
    font-size: 6rem;
    line-height: 6rem;
    padding-top: 1rem;
}

.medium-screen_article_description {
    font-size: 1.5rem;
    color: $color-font;
    padding-top: 3rem;
    padding-left: .5rem;

}

//TOPIC PAGE

.little-screen-topic_article_topic {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-left: .5rem;
}

.little-screen-topic_article_headline {
    font-size: 6rem;
    line-height: 6rem;
    padding-top: 1rem;
}

.little-screen-topic_article_description {
    font-size: 1.5rem;
    color: $color-font;
    padding-top: 3rem;
    padding-left: .5rem;

}

//FOOTER

.footer_font_content {
    font-size: 1.3rem;
    color: $color-primary-footer_fade;
}

.footer_font_header {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
}

.footer_font_link {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $color-primary-footer_fade;
}

.footer_font_link:hover {
    color: $color-primary;
    cursor: pointer;
}